// VARIABLES
// Colors
$accent: #FD4E29;
$background-base: #FFFDF5;
$dark-text: #333231;
$gray-text: #666562;
$light-text: #B2B1AB;
$dark-white: #F4F2EA;

$header-font: 'Quarto A', 'Quarto B', serif;
$body-font: 'Roboto', Helvetica, sans-serif;

// Font sizes
$font-size-base: 16px;
$font-size-x-large: 56px;
$font-size-large: 32px;
$font-size-medium: 20px;
$font-size-small: 14px;

// Spacing
$spacing-lg: 50px;
$spacing-md: 30px;
$spacing-sm: 15px;
$spacing-xs: 10px;

// Widths
$width-sm: 48em;
$width-md: 62em;
$width-lg: 75em;

// STYLES
// General

* {
  box-sizing: border-box;
}

body {
  background-color: $background-base;
  border: 5px solid $accent;
  color: $gray-text;
  font-family: $body-font;
  font-size: $font-size-base;
  font-weight: 400;
  line-height: 1.45;
  padding-bottom: 3em;

  @media screen and (max-width: $width-sm) {
    border: none;
    border-top: 5px solid $accent;
    border-bottom: 5px solid $accent;
  }
}

// Hide/Show
@media screen and (min-width: $width-sm) {
  .show-sm {
    display: block;
  }
}

@media screen and (max-width: $width-sm) {
  .hide-sm {
    display: none;
  }
}

@media screen and (min-width: $width-md) {
  .hide-md {
    display: none;
  }
  .show-md {
    display: block;
  }
}

// Typography

h1, h2, h3, h4 {
  color: $dark-text;
}

h1, h2 {
  font-family:$header-font;
  font-style: normal;
  line-height: 1.15;
}

h1 { font-size: $font-size-x-large; }
h2 { font-size: $font-size-large; }
h3 { font-size: $font-size-medium; }
h4 { font-size: $font-size-base; }
button { font-size: $font-size-base; }

@media screen and (max-width: $width-sm) {
  h1 { font-size: $font-size-large; }
  h2 { font-size: $font-size-medium; }
  h3 { font-size: $font-size-base; }
  h4 { font-size: $font-size-small; }
  p { font-size: $font-size-small; }
  a { font-size: $font-size-small; }
}

h1 { font-weight: 700; }
h2 { font-weight: 700; }
h3 { font-weight: 400; }
h4 { font-weight: 500; }

h1 { margin: 15px 0; }
h2 { margin: 10px 0; }
h3 { margin: 7px 0; }
h4 { margin: 5px 0; }

.logotype {
  font-family: $header-font;
  font-size: $font-size-medium;
  font-weight: 800;
  margin-top: 3em;
  @media screen and (max-width: $width-md) {
    margin-top: 1em;
  }
}

.accent {
  color: $accent;
}

.text-right {
  text-align: right;
}

.text-muted {
  color: $gray-text;
}

// Controls

a {
  color: $accent;
  text-decoration: none;
}

a.button {
  background: transparent;
  border: 3px solid $accent;
  border-radius: 5px;
  box-shadow: 0 2px 3px hsla(0,0,0,0.15);
  color: $accent;
  display: inline-block;
  margin-top: $spacing-sm;
  padding: $spacing-xs $spacing-md;
  transition: all 150ms ease-in-out;

  &.primary {
    border: none;
    background: $accent;
    color: #fff;
  }

  &:hover {
    box-shadow: 0 3px 15px hsla(0,0,0,0.25);
  }

  &:active, &:focus {
    box-shadow: 0 1px 1px hsla(0,0,0,0.10);
    outline: 0;
  }
}

// Section

section {
  margin: $spacing-lg 0;
  .photo > img {
    width: 100%;
  }
}

// Container
.container-fluid {
  width: 100%;
  max-width: 1040px;
  padding: 0 $spacing-lg;

  @media screen and (max-width: $width-md) {
    padding: $spacing-md;
  }

  @media screen and (max-width: $width-sm) {
    padding: $spacing-sm;
  }
}


// Hero
section.hero {
  @media screen and (max-width: $width-sm) {
    margin-top: 0;
    .container-fluid {
      padding-top: 0;
    }
  }
  .row {
    margin-bottom: 4em;
  }
  .cover-photo  {
    background: url('images/photo-1.jpg');
    background-position: center;
    background-size: cover;
    height: 60vh;
    overflow: hidden;
    @media screen and (max-width: $width-sm) {
      height: 40vh;
    }
  }
  h1 {
    margin: 0;
    @media screen and (max-width: $width-md) {
      margin-bottom: 0.5em;
    }
  }
  table {
    th {
      text-align: left;
      padding-right: $spacing-md;
    }
  }
}

// Sponsors
section.sponsors {
  margin-top: 3em;
  .sponsor > img {
    filter: grayscale(1);
  }

  .photo {
    
  }
}

// Schedule
section.schedule {
  ul {
    list-style: none;
    padding: 0;
    li {
      padding: $spacing-md 0;
      border-bottom: 1px solid $dark-white;

      &.no-description > .time {
        margin-top: 5px;
      }
    }
  }

  .time {
    margin-left: -120px;
    margin-top: -6px;
    position: absolute;
    text-align: right;
    width: 100px;
    h4 {
      color: $light-text;
      line-height: 2.15;
    }
    @media screen and (max-width: $width-lg) {
      margin-left: 0;
      text-align: left;
      position: relative;
    }
  }
}

// Footer
footer {
  background-color: $background-base;
  bottom: 0;
  box-shadow: inset 5px 0 0 $accent, inset -5px 0 0 $accent, 0 -2px 10px hsla(0,0,0,0.15);;
  margin-left: -5px;
  padding: $spacing-xs 0;
  position: fixed;
  width: 100%;

  .container-fluid {
    padding-top: 0;
    padding-bottom: 0;
  }

  ul {
    padding: 0;
    list-style: none;
    li {
      display: inline;
      margin-right: $spacing-md;
      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  a.button {
    margin-top: 0;
    text-align: center;
    p {
      margin: 0;
    }
    small {
      display: block;
      text-transform: uppercase;
      font-weight: bold;
      opacity: 0.5;
    }
  }

  // Remove list, make footer and button full width
  @media screen and (max-width: $width-sm) {
    box-shadow: 0 -2px 10px hsla(0,0,0,0.15);;
    margin-bottom: -6px;
    margin-left: 0;
    padding: 0;
    .container-fluid {
      padding: 0;
    }
    ul {
      display: none;
    }
    a.button {
      border-radius: 0;
      box-shadow: none;
      width: 100%;
      padding: $spacing-sm;
      p {
        float: left;
        text-align: left;
        width: 50%;
      }
      small {
        padding-top: 3px;
        width: 50%;
        float: left;
        text-align: right;
      }
    }
  }
}
