footer: .container-fluid
  .row.between-xs.middle-sm
    .col-xs-1.col-sm-7: ul
      li: a(href='#intro') Intro
      li: a(href='#schedule') Schedule
      li: a(href='#about') About
      li: a(href='#get-involved') Get Involved
      li: a(href='#past-events') Past Events
    .col-xs-12.col-sm-5.text-right: a.button.primary(href='https://ti.to/wafflejs/november')
      p Buy Waffle - $10
      small Ticket Included
