-
  schedule12345 = [
                {
                  time: '7:00 PM',
                  title: 'Get some tasty waffles and drinks'
                },
              //-   {
              //-     time: '7:20 PM',
              //-     type: 'Performer',
              //-     people: [
              //-       {
              //-         name: 'Cole Willsea',
              //-         handle: 'colewillsea',
              //-       }
              //-     ],
              //-     title: 'karaoke_ebooks',
              //-     description: 'karaoke_ebooks takes in a Twitter username and pulls down a bunch of that user’s tweets. It then applies some Markov chains and other language-processing magic to construct rhymes into a “song”. After that, it display those lyrics in karaoke style over some probabilistically generated web audio beats.'
              //-   },
              //-   {
              //-     time: '7:40 PM',
              //-     title: 'Introductions'
              //-   },
              //-   {
              //-     time: '7:45 PM',
              //-     type: 'Speaker',
              //-     people: [
              //-       {
              //-         name: 'Amy Wibowo',
              //-         handle: 'sailorhg'
              //-       },
              //-       {
              //-         name: 'Matt Baker',
              //-         handle: 'reissbaker'
              //-       }
              //-     ],
              //-     title: 'Programming Building Blocks (Literally)',
              //-     description: 'Learn how we used JS to help us design and build a giant lego mural!'
              //-   },
              //-   {
              //-     time: '8:00 PM',
              //-     type: 'Speaker',
              //-     people: [
              //-       {
              //-         name: 'Julia Ngyuen',
              //-         handle: 'fleurchild'
              //-       }
              //-     ],
              //-     title: 'Exploring Mental Illness through Open Source ',
              //-     description: 'For almost a year, Julia has been leading if me, an open source mental health community. It has allowed her to explore personal insecurities with mental illness, taught her how to manage and value contributors, and develop more robust web apps using Ruby on Rails and JS. She will be delving into the lessons she’s learned transforming a passion project into an open source project.'
              //-   },
              //-   {
              //-     time: '8:25 PM',
              //-     type: 'Performance'
              //-     people: [
              //-       {
              //-         name: 'Myles Borins'
              //-         handle: 'thealphanerd'
              //-       }
              //-     ],
              //-     title: 'Live Performance'
              //-     description: 'Something goes here.'
              //-   },
              //-   {
              //-     time: '8:35 PM',
              //-     type: 'Speaker',
              //-     people: [
              //-       {
              //-         name: 'Amber Feng',
              //-         handle: 'amfeng',
              //-       }
              //-     ],
              //-     title: 'Pixels and Tactics',
              //-     description: 'Adventures of building a 2D tactics RPG in the browser. Learn about tilesets, sprite animation, item factories, quest state machines, and more!'
              //-   },
              //-   {
              //-     time: '8:50 PM',
              //-     type: 'Speaker',
              //-     people: [
              //-       {
              //-         name: 'Seth Thompson',
              //-         handle: 's3ththompson',
              //-       }
              //-     ],
              //-     title: 'How JavaScript engines work (and why you should care!)',
              //-     description: 'A high level overview of Chrome’s V8 JavaScript engine, with plenty of GIFs for clarity. Plus, some tips on how you can make sure that your code always runs as fast as possible.'
              //-   },
              //-   {
              //-     time: '9:05 PM',
              //-     title: 'Open Karaoke'
              //-   },
              //- ]
