-
  schedule = [
                {
                  time: '7:20 PM',
                  title: 'Get some tasty waffles and drinks'
                },
                {
                  time: '7:20 PM',
                  type: 'Performer',
                  people: [
                    {
                      name: 'Maria Mora',
                      handle: '_riamora',
                    }
                  ],
                  title: 'Opening Performance',
                  description: 'Maria will be performing a karaoke rendition of A Whole New World from The Little Mermaid.'
                },
                {
                  time: '7:30 PM',
                  title: 'Introductions'
                },
                {
                  time: '7:45 PM',
                  type: 'Speaker',
                  people: [
                    {
                      name: 'Mariko Kosaka',
                      handle: 'kosamari',
                    }
                  ],
                  title: 'Kernel and Convolution are Friends (Image Processing with Canvas)',
                  description: 'As web engineers, we take it for granted that the &lt;img&gt; tag displays an image because it’s a "digital photo." Let’s look at what "a Pixel" is and how you can manipulate it for fun with the Canvas API and JavaScript.'
                },
                {
                  time: '8:00 PM',
                  type: 'Speaker',
                  people: [
                    {
                      name: 'Matt Ranney',
                      handle: 'mranney',
                    }
                  ],
                  title: 'Spherical geometry and high performance trees in JavaScript',
                  description: 'Our planet is a sphere, but thinking in 3D is hard. I’ll explain some of the basics of working with location data, how Uber finds the nearest vehicles, and how you can use trees to make everything fast.'
                },
                {
                  time: '8:25 PM',
                  title: 'Intermission'
                },
                {
                  time: '8:35 PM',
                  type: 'Performance',
                  people: [
                    {
                      name: 'Evan Minto',
                      handle: 'evanminto',
                    }
                  ],
                  title: 'Live performance',
                  description: 'Evan will be performing some of his original music.'
                },
                {
                  time: '8:45 PM',
                  type: 'Speaker',
                  people: [
                    {
                      name: 'Nick Morgan',
                      handle: 'skilldrick',
                    }
                  ],
                  title: 'Creating sample-based music with the Web Audio API',
                  description: 'The Web Audio API is now a fully featured API for working with audio. I’ll show you how you can use this API to pull apart an existing song into short samples and put it back together to create a new song, with very little code.'
                },
                {
                  time: '9:00 PM',
                  type: 'Speaker',
                  people: [
                    {
                      name: 'Melinda Lu',
                      handle: 'skewleft',
                    }
                  ],
                  title: 'Everything old is new again (hopefully): functional programming in JavaScript',
                  description: 'Let’s see how a programming paradigm from the 1950s can help us write JavaScript in a concise, elegant, and super-productive way. We’ll talk about React, Redux, hot reloading, and time-travel debugging.'
                },
                {
                  time: '9:15 PM',
                  type: 'Closing',
                  people: [
                    {
                      name: 'Gabriel Gilder',
                      handle: '_gjg_',
                    }
                  ],
                  title: 'Open Karaoke',
                  description: 'Join us in open karaoke. Gabriel will be opening.'
                },
              ]
