-
  schedule = [
                {
                  time: '7:00 PM',
                  title: 'Get some tasty waffles and drinks'
                },
                {
                  time: '7:30 PM',
                  title: 'Introductions'
                },
                {
                  time: '7:45 PM',
                  type: 'Speaker',
                  people: [
                    {
                      name: 'Monica Dinculescu',
                      handle: 'notwaldorf',
                    }
                  ],
                  title: '🎉 🐱 ✨ or: How I didn’t fix emoji in Chrome',
                  description: 'Last year, in the dark days of the web, Chrome couldn’t render emojis. Monica’s tried to fix it, failed, and has been making silly emoji related apps ever since.'
                },
                {
                  time: '7:40 PM',
                  title: 'Introductions'
                },
                {
                  time: '8:00 PM',
                  type: 'Performance'
                  people: [
                    {
                      name: 'Billy Roh',
                      handle: 'billyroh',
                    }
                  ],
                  title: 'Karaoke'
                  description: 'Billy is going to sing Part of Your World from The Little Mermaid.'
                },
                {
                  time: '8:10 PM',
                  type: 'Speaker',
                  people: [
                    {
                      name: 'Justine Lam',
                      handle: 'justine_lam',
                    }
                  ],
                  title: 'You Can Bookmarklet That!',
                  description: 'A bookmarklet is a special type of bookmark that runs JavaScript code when you click it; it’s super easy to install and create one. Justine will show you how!'
                },
                {
                  time: '8:25 PM',
                  type: 'Performance'
                  people: [
                    {
                      name: 'Gabriel Gilder',
                      handle: '_gjg_',
                    }
                  ],
                  title: 'Live Performance'
                  description: 'Gabriel will perform some of his original music.'
                },
                {
                  time: '8:35 PM',
                  type: 'Speaker',
                  people: [
                    {
                      name: 'Jeanie Chung',
                      handle: 'jeanieshark',
                    }
                  ],
                  title: 'Zen and the Art of Coding',
                  description: 'We’ve all heard some woo-woo stuff about zen and “finding your center.” How can we integrate some mindful practices into our coding and the way we relate to our coworkers? Maybe there’s some value to this namaste shit after all.'
                },
                {
                  time: '8:25 PM',
                  type: 'Performance'
                  people: [
                    {
                      name: 'Gabriel Gilder',
                      handle: '_gjg_',
                    }
                  ],
                  title: 'Live Performance'
                  description: 'Gabriel will perform some of his original music.'
                },
                {
                  time: '9:05 PM',
                  title: 'Open Karaoke'
                },
              ]
