a {
  color: $accent;
  text-decoration: none;
}

a.button {
  background: transparent;
  border: 3px solid $accent;
  border-radius: 5px;
  box-shadow: 0 2px 3px hsla(0,0,0,0.15);
  color: $accent;
  display: inline-block;
  font-size: $font-size-small;
  font-weight: 500;
  margin-top: $spacing-sm;
  padding: $spacing-xs $spacing-sm;
  transition: all 150ms ease-in-out;
  text-transform: uppercase;

  &.primary {
    border: none;
    background: $accent;
    h4 {
      color: #fff;
    }
  }

  &:hover {
    box-shadow: 0 3px 15px hsla(0,0,0,0.25);
  }

  &:active, &:focus {
    box-shadow: 0 1px 1px hsla(0,0,0,0.10);
    outline: 0;
  }

  @media screen and (max-width: $width-sm) {
    font-size: $font-size-x-small;
  }
}
