footer {
  background-color: $background-base;
  bottom: 0;
  box-shadow: inset 5px 0 0 $accent, inset -5px 0 0 $accent, 0 -2px 10px hsla(0,0,0,0.15);;
  margin-left: -5px;
  padding: $spacing-xs 0 $spacing-xs;
  position: fixed;
  width: 100%;

  .container-fluid {
    padding-top: 0;
    padding-bottom: 0;
  }

  ul > li > h4 {
    display: inline;
    margin: 0;
  }

  a.button {
    margin-top: 0;
    text-align: center;
    h4 {
      margin: 0 0 -3px;
    }
  }

  // Remove list, make footer and button full width
  @media screen and (max-width: $width-sm) {
    box-shadow: 0 -2px 10px hsla(0,0,0,0.15);;
    margin-bottom: -6px;
    margin-left: 0;
    padding: 0;
    .container-fluid {
      padding: 0;
    }
    ul {
      display: none;
    }
    a.button {
      border-radius: 0;
      box-shadow: none;
      width: 100%;
      padding: $spacing-sm;
      h4 {
        float: left;
        text-align: left;
        width: 50%;
      }
      small {
        float: left;
        font-size: $font-size-x-small;
        text-align: right;
        width: 50%;
      }
    }
  }
}
