* {
  box-sizing: border-box;
}

body {
  background-color: $background-base;
  border: 5px solid $accent;
  padding-bottom: 3em;

  @media screen and (max-width: $width-sm) {
    border: none;
    border-top: 5px solid $accent;
    border-bottom: 5px solid $accent;
  }
}

section {
  margin: $spacing-lg*2 0;
  @media screen and (max-width: $width-md) {
    margin: $spacing-md 0;
  }
  @media screen and (max-width: $width-sm) {
    margin: $spacing-sm 0;
  }
}

// Container
$container-padding: 175px;
.container-fluid {
  width: 100%;
  max-width: $width-max + ($container-padding * 2);
  padding: 0 $container-padding;

  @media screen and (max-width: $width-lg) {
    padding: $spacing-lg;
  }

  @media screen and (max-width: $width-md) {
    padding: $spacing-md;
  }

  @media screen and (max-width: $width-sm) {
    padding: $spacing-sm;
  }
}

@media screen and (min-width: $width-lg) {
  .hide-lg {
    display: none;
  }
}

@media screen and (max-width: $width-lg) {
  .show-lg {
    display: none;
  }
}
