// Hero
section.hero {
  background-image: url('/images/background.svg');
  background-repeat: repeat;
  h1 {
    margin: 0 0 $spacing-sm + 5;
    @media screen and (max-width: $width-sm) {
      margin-bottom: 0.5em;
    }
  }
  ul > li {
    margin-bottom: $spacing-sm;
    @media screen and (max-width: $width-md) {
      margin-bottom: 0;
    }
    &:last-of-type {
      margin-right: 0;
      margin-bottom: 0;
    }
  }
}

section.cover-photo {
  background: url('/images/photo-1.jpg');
  background-position: center;
  background-size: cover;
  height: 60vh;
  overflow: hidden;
  max-width: 1430px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: $width-sm) {
    height: 40vh;
  }
}

section.about {
  @media screen and (max-width: $width-md) {
    .photo {
      margin-top: $spacing-lg;
    }
  }
  @media screen and (max-width: $width-sm) {
    .photo {
      margin-top: $spacing-md;
    }
  }
}

// Schedule
section.schedule {
  ul.schedule-items {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      padding: $spacing-md 0;
      border-bottom: 1px solid $dark-white;
      @media screen and (max-width: $width-md) {
        padding: $spacing-sm 0;
      }
      &.no-description > .time {
        margin-top: 4px;
      }
    }
  }

  .time {
    margin-left: -140px;
    margin-top: -6px;
    position: absolute;
    text-align: right;
    width: 110px;
    h4 {
      color: $light-text;
      line-height: 2.2;
    }
    @media screen and (max-width: $width-lg) {
      width: 300px;
      margin-left: 0;
      text-align: left;
      position: relative;
    }
  }

  ul.images {
    list-style: none;
    li {
      margin-bottom: 12em;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
    @media screen and (max-width: $width-md) {
      opacity: 0.05;
      position: absolute;
      z-index: -1;
      li {
        margin-bottom: 20em
      }
    }
  }
}

// Sponsors
section.sponsors {
  .sponsor {
    width: 120px;
    float: left;
    margin-right: $spacing-sm;
    margin-bottom: $spacing-sm;
    &:last-of-type {
      margin-right: 0;
    }
  }
}

section.get-involved {
  @media screen and (max-width: $width-md) {
    .col-xs-12 {
      margin-bottom: $spacing-sm;
      a.button {
        margin-bottom: $spacing-sm;
      }
      &:last-of-type {
        margin-bottom: 0;
        a.button {
          margin-bottom: 0;
        }
      }
    }
  }
}
