// Hero
section.hero {
  .row {
    margin-bottom: 4em;
    @media screen and (max-width: $width-md) {
      margin-bottom: 0;
    }
  }
  .cover-photo  {
    background: url('/images/photo-1.jpg');
    background-position: center;
    background-size: cover;
    height: 60vh;
    overflow: hidden;
    @media screen and (max-width: $width-sm) {
      height: 40vh;
    }
  }
  h1 {
    margin: 0 0 $spacing-sm + 5;
    @media screen and (max-width: $width-sm) {
      margin-bottom: 0.5em;
    }
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      margin-right: $spacing-lg;
      margin-bottom: $spacing-sm;
      @media screen and (max-width: $width-md) {
        margin-right: $spacing-md;
        margin-bottom: 0;
      }
      &:last-of-type {
        margin-right: 0;
        margin-bottom: 0;
      }
    }
  }
}

// Sponsors
section.sponsors {
  .sponsor > img {
    margin-right: $spacing-sm;
    margin-bottom: $spacing-sm;
    &:last-of-type {
      margin-right: 0;
    }
  }
  .photo {
    img {
      width: 100%;
    }
    @media screen and (max-width: $width-md) {
      margin-top: $spacing-lg;
    }
  }
}

// Schedule
section.schedule {
  ul.schedule-items {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      padding: $spacing-md 0;
      border-bottom: 1px solid $dark-white;
      @media screen and (max-width: $width-md) {
        padding: $spacing-sm 0;
      }
      &.no-description > .time {
        margin-top: 0;
      }
    }
  }

  .time {
    margin-left: -120px;
    margin-top: -3px;
    position: absolute;
    text-align: right;
    width: 100px;
    h4 {
      color: $light-text;
      line-height: 1.81;
    }
    @media screen and (max-width: $width-lg) {
      width: 300px;
      margin-left: 0;
      text-align: left;
      position: relative;
    }
  }

  ul.images {
    list-style: none;
    li {
      margin-bottom: 20em;
      &:last-of-type {
        margin-bottom: 0;
      }
      img {
        width: 100%;
      }
    }
    @media screen and (max-width: $width-md) {
      opacity: 0.05;
      position: absolute;
      z-index: -1;
    }
  }
}

section.about, section.get-involved {
  @media screen and (max-width: $width-md) {
    .col-xs-12 {
      margin-bottom: $spacing-sm;
      a.button {
        margin-bottom: $spacing-sm;
      }
      &:last-of-type {
        margin-bottom: 0;
        a.button {
          margin-bottom: 0;
        }
      }
    }
  }
}
