// VARIABLES
// Colors
$accent: hsl(10, 98%, 58%);
$background-base: hsl(48, 100%, 98%);
$dark-text: hsl(30, 2%, 20%);
$gray-text: hsl(40, 1%, 50%);
$light-text: hsl(50, 2%, 75%);
$dark-white: hsl(60, 31%, 90%);

$header-font: 'Quarto A', 'Quarto B', serif;
$body-font: 'Roboto', Helvetica, sans-serif;

// Font sizes
$font-size-base: 18px;
$font-size-x-large: 56px;
$font-size-large: 40px;
$font-size-medium: 24px;
$font-size-small: 15px;
$font-size-x-small: 13px;

// Spacing
$spacing-lg: 50px;
$spacing-md: 30px;
$spacing-sm: 15px;
$spacing-xs: 10px;

// Widths
$width-sm: 48em;
$width-md: 62em;
$width-lg: 75em;
