// VARIABLES
// Colors
$accent: #FD4E29;
$background-base: #FFFDF5;
$dark-text: #333231;
$gray-text: #81807e;
$light-text: #c1c0be;
$dark-white: #F4F2EA;

$header-font: 'Quarto A', 'Quarto B', serif;
$body-font: 'Roboto', Helvetica, sans-serif;

// Font sizes
$font-size-base: 18px;
$font-size-x-large: 56px;
$font-size-large: 40px;
$font-size-medium: 20px;
$font-size-small: 15px;

// Spacing
$spacing-lg: 50px;
$spacing-md: 30px;
$spacing-sm: 15px;
$spacing-xs: 10px;

// Widths
$width-sm: 48em;
$width-md: 62em;
$width-lg: 75em;
