* {
  box-sizing: border-box; }

body {
  background-color: #fffdf5;
  border: 5px solid #fd4e2b;
  padding-bottom: 3em; }
  @media screen and (max-width: 48em) {
    body {
      border: none;
      border-top: 5px solid #fd4e2b;
      border-bottom: 5px solid #fd4e2b; } }

section {
  margin: 100px 0; }
  section img {
    width: 100%; }
  @media screen and (max-width: 62em) {
    section {
      margin: 30px 0; } }
  @media screen and (max-width: 48em) {
    section {
      margin: 15px 0; } }

.container-fluid {
  width: 100%;
  max-width: 1780px;
  padding: 0 175px; }
  @media screen and (max-width: 75em) {
    .container-fluid {
      padding: 50px; } }
  @media screen and (max-width: 62em) {
    .container-fluid {
      padding: 30px; } }
  @media screen and (max-width: 48em) {
    .container-fluid {
      padding: 15px; } }

@media screen and (min-width: 75em) {
  .hide-lg {
    display: none; } }
@media screen and (max-width: 75em) {
  .show-lg {
    display: none; } }
body {
  color: #81807e;
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5; }

h1, h2, h3, h4 {
  color: #343332; }

h1, h2 {
  font-family: "Quarto A", "Quarto B", serif;
  font-style: normal;
  line-height: 1.15; }

h1 {
  font-size: 56px; }

h2 {
  font-size: 40px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 15px; }

button {
  font-size: 18px; }

@media screen and (max-width: 62em) {
  h1 {
    font-size: 40px; }

  h2 {
    font-size: 24px; }

  h3 {
    font-size: 18px; }

  h4 {
    font-size: 13px; }

  p {
    font-size: 15px; }

  a.button {
    font-size: 15px; }

  body {
    font-size: 15px; } }
h1 {
  font-weight: 700; }

h2 {
  font-weight: 700; }

h3 {
  font-weight: 400; }

h4 {
  font-weight: 500; }

h4 {
  text-transform: uppercase; }

h1, h2, h3, h4, p {
  margin: 0.5em 0; }

.logotype {
  font-family: "Quarto A", "Quarto B", serif;
  font-size: 24px;
  font-weight: 800; }

.accent {
  color: #fd4e2b; }

.text-right {
  text-align: right; }

.text-muted {
  color: #81807e; }
  .text-muted.white {
    color: #fff;
    opacity: 0.5; }

a {
  color: #fd4e2b;
  text-decoration: none; }

a.button {
  background: transparent;
  border: 3px solid #fd4e2b;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
  color: #fd4e2b;
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  margin-top: 15px;
  padding: 10px 15px;
  transition: all 150ms ease-in-out;
  text-transform: uppercase; }
  a.button.primary {
    border: none;
    background: #fd4e2b; }
    a.button.primary h4 {
      color: #fff; }
  a.button:hover {
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.25); }
  a.button:active, a.button:focus {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    outline: 0; }
  @media screen and (max-width: 48em) {
    a.button {
      font-size: 13px; } }

footer {
  background-color: #fffdf5;
  bottom: 0;
  box-shadow: inset 5px 0 0 #fd4e2b, inset -5px 0 0 #fd4e2b, inset 0 -5px 0 #fd4e2b, 0 -2px 10px rgba(0, 0, 0, 0.15);
  margin-left: -5px;
  padding: 10px 0 15px;
  position: fixed;
  width: 100%; }
  footer .container-fluid {
    padding-top: 0;
    padding-bottom: 0; }
  footer ul {
    padding: 0;
    list-style: none; }
    footer ul li {
      display: inline;
      margin-right: 30px; }
      footer ul li:last-of-type {
        margin-right: 0; }
      footer ul li h4 {
        display: inline;
        margin: 0; }
      footer ul li a.inactive {
        color: #81807e; }
  footer a.button {
    margin-top: 0;
    text-align: center; }
    footer a.button h4 {
      margin: 0 0 -3px; }
  @media screen and (max-width: 48em) {
    footer {
      box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.15);
      margin-bottom: -6px;
      margin-left: 0;
      padding: 0; }
      footer .container-fluid {
        padding: 0; }
      footer ul {
        display: none; }
      footer a.button {
        border-radius: 0;
        box-shadow: none;
        width: 100%;
        padding: 15px; }
        footer a.button h4 {
          float: left;
          text-align: left;
          width: 50%; }
        footer a.button small {
          float: left;
          font-size: 13px;
          text-align: right;
          width: 50%; } }

section.hero .row {
  margin-bottom: 4em; }
  @media screen and (max-width: 62em) {
    section.hero .row {
      margin-bottom: 0; } }
section.hero .cover-photo {
  background: url("/images/photo-1.jpg");
  background-position: center;
  background-size: cover;
  height: 60vh;
  overflow: hidden;
  max-width: 1430px;
  margin-left: auto;
  margin-right: auto; }
  @media screen and (max-width: 48em) {
    section.hero .cover-photo {
      height: 40vh; } }
section.hero h1 {
  margin: 0 0 20px; }
  @media screen and (max-width: 48em) {
    section.hero h1 {
      margin-bottom: 0.5em; } }
section.hero ul {
  list-style: none;
  margin: 0;
  padding: 0; }
  section.hero ul li {
    display: inline-block;
    margin-right: 50px;
    margin-bottom: 15px; }
    @media screen and (max-width: 62em) {
      section.hero ul li {
        margin-right: 30px;
        margin-bottom: 0; } }
    section.hero ul li:last-of-type {
      margin-right: 0;
      margin-bottom: 0; }

section.schedule ul.schedule-items {
  list-style: none;
  margin: 0;
  padding: 0; }
  section.schedule ul.schedule-items li {
    padding: 30px 0;
    border-bottom: 1px solid #ededde; }
    @media screen and (max-width: 62em) {
      section.schedule ul.schedule-items li {
        padding: 15px 0; } }
    section.schedule ul.schedule-items li.no-description > .time {
      margin-top: 4px; }
section.schedule .time {
  margin-left: -140px;
  margin-top: -6px;
  position: absolute;
  text-align: right;
  width: 110px; }
  section.schedule .time h4 {
    color: #c1c0be;
    line-height: 2.2; }
  @media screen and (max-width: 75em) {
    section.schedule .time {
      width: 300px;
      margin-left: 0;
      text-align: left;
      position: relative; } }
section.schedule ul.images {
  list-style: none; }
  section.schedule ul.images li {
    margin-bottom: 12em; }
    section.schedule ul.images li:last-of-type {
      margin-bottom: 0; }
  @media screen and (max-width: 62em) {
    section.schedule ul.images {
      opacity: 0.05;
      position: absolute;
      z-index: -1; }
      section.schedule ul.images li {
        margin-bottom: 20em; } }

section.sponsors .sponsor {
  width: 120px;
  float: left;
  margin-right: 15px;
  margin-bottom: 15px; }
  section.sponsors .sponsor:last-of-type {
    margin-right: 0; }

@media screen and (max-width: 62em) {
  section.get-involved .col-xs-12 {
    margin-bottom: 15px; }
    section.get-involved .col-xs-12 a.button {
      margin-bottom: 15px; }
    section.get-involved .col-xs-12:last-of-type {
      margin-bottom: 0; }
      section.get-involved .col-xs-12:last-of-type a.button {
        margin-bottom: 0; } }

/*# sourceMappingURL=style.css.map */
