* {
  box-sizing: border-box; }

body {
  background-color: #FFFDF5;
  border: 5px solid #FD4E29;
  color: #666562;
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.45;
  padding-bottom: 3em; }
  @media screen and (max-width: 48em) {
    body {
      border: none;
      border-top: 5px solid #FD4E29;
      border-bottom: 5px solid #FD4E29; } }

section {
  margin: 100px 0; }
  @media screen and (max-width: 62em) {
    section {
      margin: 30px 0; } }
  @media screen and (max-width: 48em) {
    section {
      margin: 15px 0; } }

.container-fluid {
  width: 100%;
  max-width: 1040px;
  padding: 0 50px; }
  @media screen and (max-width: 62em) {
    .container-fluid {
      padding: 30px; } }
  @media screen and (max-width: 48em) {
    .container-fluid {
      padding: 15px; } }

h1, h2, h3, h4 {
  color: #333231; }

h1, h2 {
  font-family: "Quarto A", "Quarto B", serif;
  font-style: normal;
  line-height: 1.15; }

h1 {
  font-size: 56px; }

h2 {
  font-size: 40px; }

h3 {
  font-size: 20px; }

h4 {
  font-size: 16px; }

button {
  font-size: 16px; }

@media screen and (max-width: 48em) {
  h1 {
    font-size: 40px; }

  h2 {
    font-size: 20px; }

  h3 {
    font-size: 16px; }

  h4 {
    font-size: 14px; }

  p {
    font-size: 14px; }

  a.button {
    font-size: 14px; }

  body {
    font-size: 14px; } }
h1 {
  font-weight: 700; }

h2 {
  font-weight: 700; }

h3 {
  font-weight: 400; }

h4 {
  font-weight: 500; }

h1, h2, h3, h4, p {
  margin: 0.5em 0; }

.logotype {
  font-family: "Quarto A", "Quarto B", serif;
  font-size: 20px;
  font-weight: 800; }

.accent {
  color: #FD4E29; }

.text-right {
  text-align: right; }

.text-muted {
  color: #666562; }

a {
  color: #FD4E29;
  text-decoration: none; }

a.button {
  background: transparent;
  border: 3px solid #FD4E29;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
  color: #FD4E29;
  display: inline-block;
  margin-top: 15px;
  padding: 10px 30px;
  transition: all 150ms ease-in-out; }
  a.button.primary {
    border: none;
    background: #FD4E29;
    color: #fff; }
  a.button:hover {
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.25); }
  a.button:active, a.button:focus {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    outline: 0; }

footer {
  background-color: #FFFDF5;
  bottom: 0;
  box-shadow: inset 5px 0 0 #FD4E29, inset -5px 0 0 #FD4E29, 0 -2px 10px rgba(0, 0, 0, 0.15);
  margin-left: -5px;
  padding: 10px 0;
  position: fixed;
  width: 100%; }
  footer .container-fluid {
    padding-top: 0;
    padding-bottom: 0; }
  footer ul {
    padding: 0;
    list-style: none; }
    footer ul li {
      display: inline;
      margin-right: 30px; }
      footer ul li:last-of-type {
        margin-right: 0; }
  footer a.button {
    margin-top: 0;
    text-align: center; }
    footer a.button p {
      margin: 0; }
    footer a.button small {
      display: block;
      text-transform: uppercase;
      font-weight: bold;
      opacity: 0.5; }
  @media screen and (max-width: 48em) {
    footer {
      box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.15);
      margin-bottom: -6px;
      margin-left: 0;
      padding: 0; }
      footer .container-fluid {
        padding: 0; }
      footer ul {
        display: none; }
      footer a.button {
        border-radius: 0;
        box-shadow: none;
        width: 100%;
        padding: 15px; }
        footer a.button p {
          float: left;
          text-align: left;
          width: 50%; }
        footer a.button small {
          padding-top: 3px;
          width: 50%;
          float: left;
          text-align: right; } }

section.hero .row {
  margin-bottom: 4em; }
  @media screen and (max-width: 62em) {
    section.hero .row {
      margin-bottom: 0; } }
section.hero .cover-photo {
  background: url("/images/photo-1.jpg");
  background-position: center;
  background-size: cover;
  height: 60vh;
  overflow: hidden; }
  @media screen and (max-width: 48em) {
    section.hero .cover-photo {
      height: 40vh; } }
section.hero h1 {
  margin: 0 0 20px; }
  @media screen and (max-width: 48em) {
    section.hero h1 {
      margin-bottom: 0.5em; } }
section.hero ul {
  list-style: none;
  margin: 0;
  padding: 0; }
  section.hero ul li {
    display: inline-block;
    margin-right: 50px; }
    @media screen and (max-width: 62em) {
      section.hero ul li {
        margin-right: 30px; } }
    section.hero ul li:last-of-type {
      margin-right: 0; }

section.sponsors .sponsor > img {
  margin-right: 15px;
  margin-bottom: 15px; }
  section.sponsors .sponsor > img:last-of-type {
    margin-right: 0; }
section.sponsors .photo img {
  width: 100%; }
@media screen and (max-width: 62em) {
  section.sponsors .photo {
    margin-top: 50px; } }

section.schedule ul.schedule-items {
  list-style: none;
  margin: 0;
  padding: 0; }
  section.schedule ul.schedule-items li {
    padding: 30px 0;
    border-bottom: 1px solid #F4F2EA; }
    @media screen and (max-width: 62em) {
      section.schedule ul.schedule-items li {
        padding: 15px 0; } }
    section.schedule ul.schedule-items li.no-description > .time {
      margin-top: 0; }
section.schedule .time {
  margin-left: -120px;
  margin-top: -6px;
  position: absolute;
  text-align: right;
  width: 100px; }
  section.schedule .time h4 {
    color: #B2B1AB;
    line-height: 2.15; }
  @media screen and (max-width: 75em) {
    section.schedule .time {
      margin-left: 0;
      text-align: left;
      position: relative; } }
section.schedule ul.images {
  list-style: none; }
  section.schedule ul.images li {
    margin-bottom: 20em; }
    section.schedule ul.images li:last-of-type {
      margin-bottom: 0; }
    section.schedule ul.images li img {
      width: 100%; }
  @media screen and (max-width: 62em) {
    section.schedule ul.images {
      opacity: 0.05;
      margin-top: -120em;
      z-index: 1; } }

/*# sourceMappingURL=style.css.map */
